body {
    height:auto;
    width:100%;
    margin:0;
}

.logo {
    text-align:center;
    float:none;
    padding:0;
    margin:0;
    width: 50%;
}

.pagebreak { 
    page-break-before: always; 
} /* page-break-after works, as well */

.tabla-detalle {
    margin: 40px 0px 40px 0px; 
    width: 100%; 
    padding:20px;
    border-collapse: collapse;
}

.tabla-detalle th {
    background-color:#a32c2e;
    border-color:#a32c2e;
    color:white;
    font-family:'Raleway';
    font-size:13px;
    text-align:center;
}

.tabla-detalle td {
    color:#222;
    font-family:'Raleway';
    font-size:15px;
    padding:10px 10px 10px 15px;
    border:1pt solid #dce4e6;
    margin:0;
    text-align:center;
} 

.tabla-pie {
	font-size: 11px; 
	color: #f1f1f1; 
	color: #999;
	font-family: Arial; 
	font-weight: normal;	
	width: 100%;
}

#footer {
        position: running(footer);
        text-align: center;
}

@page {
        @bottom-right {
            content: element(footer);
        }
}
