<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" th:href="@{tasks/public/css/styles.css}" />
</head>

<body>

  <div>
    <img th:attr="src=@{tasks/public/images/Logo-UMU.jpg}" class="logo"
      title="Universidad de Murcia" alt="Logo Universidad de Murcia"/>
  </div>

  <h1><span th:text="${title}"></span>!</h1>

  <table class="tabla-detalle">
    <thead>
      <tr>
        <th>Description</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="task : ${tasks}">
        <td th:text="${task.description}">Task</td>
        <td th:text="${task.duration}">Duration</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
    </tfoot>
  </table>


  <!-- Pie -->
  <div id="footer" class="tabla-pie">
    <b>&copy; 2023 Tasks</b>
  </div>



</body>

</html>